[submodule "Dependencies/pokelink-web"]
	path = Dependencies/pokelink-web
	url = https://github.com/pokelinkapp/pokelink-web.git
[submodule "Dependencies/PKHeX"]
	path = Dependencies/PKHeX
	url = https://github.com/kwsch/PKHeX.git
